<section class="background-curves">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="tabs d-flex">
          <p class="tab-active">Signup</p>
        </div>
        <div class="margin-top">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div data-controller="dismiss-simple-form-errors">
                <%= f.error_notification %>
              </div>

              <div class="form-inputs">
              <%#= f.input :title, label: false, placeholder: 'Title', input_html: { class: 'input-rounded' } %>
                <%= f.input :email,
                            label: "Email",
                            placeholder: 'lara.croft@email.com',
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" },
                            input_html: { class: 'input-rounded' } %>
                <%= f.input :gametag,
                            label: "Gametag",
                            placeholder: 'laracroft66',
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "gametag" },
                            input_html: { class: 'input-rounded' } %>
                <%= f.input :password,
                            label: 'Password',
                            placeholder: '••••••',
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" },
                            input_html: { class: 'input-rounded' } %>
                <%= f.input :password_confirmation,
                            label: 'Confirm password',
                            placeholder: '••••••',
                            required: true,
                            input_html: { autocomplete: "new-password" },
                            input_html: { class: 'input-rounded' } %>
                <%= f.input :gamer_type,
                            as: :select,
                            collection: User.gamer_types.keys.map{ |key| [key.humanize, key] },
                            label: "I am...",
                            prompt: "Select an option",
                            required: true,
                            input_html: { class: 'input-rounded dropdown' } %>
              </div>
            <div class="d-flex justify-content-between align-items-center margin-top">
              <div>
                <%= render "devise/shared/links" %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Signup", class: "btn-orange" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
