<%= simple_form_for(@blog_post) do |f| %>
  <%= f.input :title, label: false, placeholder: 'Title', input_html: { class: 'input-rounded' } %>
  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content, as: :text, class: 'input-rounded mb-4 bg-white' %>
  </div>
  <% if current_user.master %>
    <%= f.input :blog_post_status,
      as: :select,
      collection: BlogPost.blog_post_statuses.keys.map!(&:capitalize),
      selected: f.object.blog_post_status.capitalize,
      label: false,
      hint: "choose your post status",
      input_html: { class: 'input-rounded' }
    %>
  <% end %>

  <div class="control-group">
    <div class="attach-set">
      <%= f.input :blog_image, label: false, input_html: { hidden: true, id: 'hidden_button' }  %>
      <div class="input-appendx">
        <p id="file-display" class="uneditable-input" disabled type="text"></p>
        <a id="upload-btn" class="btn-grey">
          <p><i class="far fa-images"></i> Images & Video</p>
        </a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center margin-top">
    <%= link_to "Back", :back %>
    <%= f.submit locals[:button_value], class: "btn-orange" %>
  </div>
<% end %>
<!-- id="restaurant_name" -->
