<h1>BlogPosts#index</h1>

<% if policy(BlogPost).create? %>
  <p><%= link_to 'New Blog Post', new_blog_post_path %></p>
<% end %>

<% @blog_posts.order_by_updated.each do |blog_post| %>
  <%= link_to blog_post_path(blog_post) do  %>
    <div class="card p-3">
      <h3><%= blog_post.title %></h3>
      <p><%= blog_post.content %></p>
      <p>A media 👇 (if there is one attached)</p>
      <% if blog_post.blog_image.attached? %>
        <%= cl_image_tag blog_post.blog_image.key, width: 100 %>
      <% end %>

      <% if policy(blog_post).edit? %>
        <ul>
          <li>
            <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
          </li>
          <li>
            <%= link_to 'Delete', blog_post_path(blog_post),
              method: 'delete',
              data: { confirm: "Are you sure you want to delete #{blog_post.title}?" }
            %>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
