<h1>BlogPosts#index</h1>
<p><%= link_to 'New Blog Post', new_blog_post_path %></p>
<ul>
  <% @blog_posts.order_by_updated.each do |blog_post| %>
    <%= link_to blog_post_path(blog_post) do  %>
      <div class="card p-3">
        <h3><%= blog_post.title %></h3>
        <p><%= blog_post.content %></p>
        <p>An image, if there is one</p>
        <% if blog_post.blog_image.attached? %>
          <%= cl_image_tag blog_post.blog_image.key, width: 100 %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>
