<div class="blog-show-background">
  <h1><%= @blog_post.title %></h1>

  <div class="blog-byline-content text-size-md">
    <%= cl_image_tag @blog_post.user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb,
      alt: "alttext",
      class: 'avatar-image-small' %>
    <div>
      <p>by <%= @blog_post.user.gametag %>
        <% if  @blog_post.user.master %>
          • <span class="admin-badge">admin</span>
        <% end %>
      </p>
      <p><i class="far fa-clock"></i><span><%= @blog_post.created_at.strftime("%b %d, %Y") %></span></p>
    </div>
  </div>

  <div class="card-links-content border-0 text-size-md">
      <!-- Likes -->
      <% if current_user %>
        <div class="loggedBlogLike d-flex">
              <a href="">
                <% common_ids = current_user.blog_like_ids & @blog_post.blog_like_ids %>
                <% if common_ids.empty? %>
                  <i class="far fa-heart blog-like" data-id="<%= @blog_post.id %>"></i>
                <% else %>
                  <i class="fas fa-heart blog-like" data-id="<%= @blog_post.id %>"></i>
                <% end %>
              </a>
          <p class="blog-count" data-id="<%= @blog_post.id %>"><%= @blog_post.blog_likes.count %></p>
        </div>
      <% else %>
        <div class="unLoggedBlogLikeAttempt d-flex">
          <p><i class="far fa-heart"></i><%= @blog_post.blog_likes.count %></p>
        </div>
      <% end %>
      <!-- Edit / Delete -->
      <% if current_user %>
        <% if policy(@blog_post).edit? %>
          <%= link_to edit_blog_post_path(@blog_post) do %>
            <i class="far fa-edit"></i>
          <% end %>
        <% end %>

        <% if policy(@blog_post).destroy? %>
          <%= link_to blog_post_path(@blog_post),
            method: 'delete',
            data: { confirm: "Are you sure you want to delete #{@blog_post.title}?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="blog-content">
  <!-- Blog Visual -->
  <div class="gif-image-content" data-controller="blog-images-size">
    <% if @blog_post.content.match(/\bhttp.+\.gif\b/) %>
      <div class="">
        <%= image_tag @blog_post.content.match(/\bhttp.+\.gif\b/)[0], width: 160, alt: "A GIF" %>
      </div>
    <% end %>

    <% if @blog_post.blog_image.attached? %>
      <div class="">
        <% if @blog_post.blog_image.blob.image? %>
          <%= cl_image_tag @blog_post.blog_image.key, data: {blog_images_size_target: "images"} %>
        <% elsif @blog_post.blog_image.blob.video? %>
          <%= cl_video_tag @blog_post.blog_image.key, class: 'video', crop: :pad, controls: true %>
        <% end %>
      </div>
    <% end %>
  </div>
  <p><%= @blog_post.content %></p>
  <%= link_to "Back to all blog posts", blog_posts_path %>
</div>
