<h1>BlogPosts#show</h1>
<h2>
  <%= @blog_post.title %>
</h2>
<p><%= @blog_post.content %></p>

<p>An image, if there is one</p>
<% if @blog_post.blog_image.attached? %>
  <% if @blog_post.blog_image.blob.image? %>
    <%= cl_image_tag @blog_post.blog_image.key, width: 100 %>
  <% elsif @blog_post.blog_image.blob.video? %>
    <%= cl_video_tag @blog_post.blog_image.key, width: 200, autoplay: true, controls: true %>
  <% end %>
<% end %>

<ul>
  <li>
    <%= link_to 'All Posts', blog_posts_path %>
  </li>
  <li>
    <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
  </li>
  <li>
    <%= link_to 'Delete', blog_post_path(@blog_post),
      method: 'delete',
      data: { confirm: "Are you sure you want to delete #{@blog_post.title}?" }
    %>
  </li>
  <li>
    <%#= link_to 'Like / Un-like', blog_post_blog_likes_path(@blog_post) %>
  </li>
</ul>


