<section class="background-curves">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="tabs d-flex">
          <p class="tab-active">Edit your profile</p>
        </div>
        <div class="margin-top">
          <%= render 'form' %>
          <%= link_to "Change password", edit_user_registration_path, class: 'btn-orange' %>
          <% if @user.master %>
            <%= link_to "Delete account", user_path(@user), method: 'delete', data: { confirm: "Are you sure you want to delete #{@user.gametag}'s account?" }, class: "btn-orange" %>
          <% else %>
            <%= link_to 'Archive account',
              # user_path(@user),
              user_registration_path,
              method: 'delete',
              data: { confirm: "Are you sure you want to delete your account?" },
              class: "btn-orange" %>
          <% end %>
          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</section>
