<section class="background-curves">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="tabs d-flex">
          <p class="tab-active">Forgot your password?</p>
        </div>
        <div class="margin-top">

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            label: false,
                            placeholder: 'email',
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" },
                            input_html: { class: 'input-rounded' } %>
              </div>
            <div class="d-flex justify-content-between align-items-center margin-top">
              <div>
                <%= render "devise/shared/links" %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Send reset instructions", class: "btn-orange" %>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
