<nav class="navbar navbar-expand-sm navbar-light navbar-chreative page-header sticky-top">
  <div class="container">

    <%= link_to main_app.root_path, class: "navbar-brand" do %>
      <%= image_tag "cg_logo.png", alt: "Chreative Gaming" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "About", main_app.about_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <!-- <%= link_to "Games", main_app.games_path, class: "nav-link" %> -->
          <a href="#" class="nav-link games-alert cursor-no">Games</a>
        </li>

        <li class="nav-item dropdown">
          <%= link_to "Community", main_app.community_path, class: "nav-link dropdown-toggle", id: "navbarCommunityDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <ul class="dropdown-menu" aria-labelledby="navbarCommunityDropdown">
            <li><%= link_to "Blog", main_app.blog_posts_path, class: "dropdown-item" %></li>
            <li><%= link_to "Forum", main_app.forum_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb,
                class: "avatar-image-small dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" },
                'aria-haspopup': true, 'aria-expanded': false
              %>
            <% else %>
              <%= image_tag 'default',
                class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" },
                'aria-haspopup': true, 'aria-expanded': false
              %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if policy(Game).new? %>
                <%= link_to 'Admin Panel', main_app.admin_root_path, class: "dropdown-item" %>
                <%#= link_to "Add a new game", new_game_path, class: "dropdown-item" %>
                <%#= link_to "See all users", users_path, class: "dropdown-item" %>
              <% end %>

              <%= link_to "Profile", main_app.user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", main_app.destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
