<!-- Old Banner -->
<!-- <section class="banner d-flex">
 <div class="banner-welcome-section d-flex justify-content-around align-items-center">
    <div class="banner-text">
      <h1>Welcome to<br><span class="title">ChreativeGaming</span>. Discuss, play and earn with us!</h1>
      <p>🗣 Discuss 🏆 Play 💰 Earn</p>
      <button class="btn-orange"><%= link_to "Join the community", new_user_session_path %></button>
    </div>
 </div>
 <div class="banner-image-section"></div>
</section> -->

<!-- Testing New Banner Style -->
<section class="banner">
    <div class="container">
      <div class="banner-text">
        <div>
          <h1>Welcome to <br><span class="title">ChreativeGaming</span></h1>
          <p>Discuss 🗣, play 🏆, and earn 💰</p>
          <button class="btn-orange"><%= link_to "Join the community", new_user_session_path %></button>
        </div>
        <%= image_tag "home_banner.png", alt: "Are You Two Smart", width: 200 %>
      </div>
    </div>
</section>


<section class="background-curves">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">

        <div class="tabs d-flex">
          <p data-for-tab="1" class="tab-active">News</p>
          <p data-for-tab="2">Members' feed</p>
        </div>

        <!-- News -->
        <div data-tab="1" class="content content-active">
          <% unless @published_posts.empty? %>
            <p>All the gaming news we're talking about right now.</p>
            <div class="news-section margin-top">
              <% @published_posts.each do |post| %>
                <div class="margin-bottom">
                  <div class="card-container">
                    <%= link_to "/blog_posts##{post.id}" do %>
                      <div class="card-long">
                        <div class="image-container">
                          <% if post.blog_image.attached? %>
                            <%= cl_image_tag post.blog_image.key, width: 136, height: 112, crop: :fill, class: 'blog-image' %>
                          <% else %>
                           <%= cl_image_tag post.user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb, class: 'avatar-image' %>
                          <% end %>
                        </div>
                        <div class="card-text">
                          <h3><%= post.title.truncate(50) %></h3>
                          <div class="secondary-text d-flex">
                            <p>by <%= post.user.gametag %></p>
                            <p><i class="far fa-clock"></i><%= post.created_at.strftime("%b %d, %Y") %></p>
                            <p><i class="far fa-heart"></i><%=post.blog_likes.count%></p>
                          </div>
                        </div>
                        <p class="card-tag news-tag">news</p>
                      </div>
                    <% end %>
                  </div>

                </div>
              <% end %>
            </div>
            <%= render 'paginate_links' %>

          <% else %>
            <p>Hmm... must be a slow news day. Check back again soon! </p>
          <% end %>
        </div>

        <!-- Member's Feed -->
        <div data-tab="2" class="content">
          <% if user_signed_in? %>
            <% unless @priority_posts.empty? && @regular_posts.empty? %>
              <p>Dive into the lastest community topics and join the conversation!</p>
              <div class="news-section margin-top" id="priority-section">
              <!-- Priority Posts -->
                <% unless @priority_posts.empty? %>
                  <% @priority_posts.each do |post| %>

                    <!-- Priority Blog Posts -->
                    <% if post.kind_of?(BlogPost) %>
                      <div class="margin-bottom">
                        <div class="card-container">
                          <%= link_to "/blog_posts##{post.id}" do %>
                            <div class="card-long">
                              <div class="image-container">
                                <% if post.blog_image.attached? %>
                                  <%= cl_image_tag post.blog_image.key, width: 136, height: 112, crop: :fill, class: 'blog-image' %>
                                <% else %>
                                  <%= cl_image_tag post.user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb, class: 'avatar-image' %>
                                <% end %>
                              </div>
                              <div class="card-text">
                                <h3><%= post.title.truncate(50) %></h3>
                                <div class="secondary-text d-flex">
                                  <p>by <%= post.user.gametag %></p>
                                  <p><i class="far fa-clock"></i><span><%= post.created_at.strftime("%b %d, %Y") %></span></p>
                                  <p><i class="far fa-heart"></i><%=post.blog_likes.count%></p>
                                </div>
                              </div>
                              <p class="card-tag blog-tag">blog</p>

                              <!-- Adding the "Priority" look -->
                              <div class="absolute-gradient"></div>
                              <p class="absolute-bolt"><i class="fas fa-bolt"></i></p>


                            </div>
                          <% end %>

                          <!-- Link to remove priority from blog_post -->
                          <% if current_user && policy(current_user).master? %>
                            <%= link_to blog_priority_path(post) do %>
                              <p class="absolute-not" title="remove priority status"><i class="far fa-times-circle"></i></p>
                            <% end %>
                          <% end %>

                        </div>

                      </div>

                    <!-- Priority Forum Posts -->
                    <% else %>
                      <div class="margin-bottom">
                        <div class="card-container">
                          <%= link_to "/forum/#{post.messageboard.slug}/#{post.postable.slug}#post_#{post.id}" do %>
                            <div class="card-long">
                              <div class="image-container">
                                <%= cl_image_tag post.postable.user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb, class: 'avatar-image' %>
                              </div>
                              <div class="card-text">
                                <h3><%= post.postable.title.truncate(50) %></h3>
                                <div class="secondary-text d-flex">
                                  <p>by <%= post.postable.user.gametag %></p>
                                  <p><i class="far fa-clock"></i><span><%= post.postable.created_at.strftime("%b %d, %Y") %></span></p>
                                  <p><i class="far fa-comment-alt"></i><%=post.postable.posts_count%></p>
                                </div>
                              </div>
                              <p class="card-tag forum-tag"><%= post.messageboard.name.truncate(25)%></p>

                              <!-- Adding the "Priority" look -->
                              <div class="absolute-gradient"></div>
                              <p class="absolute-bolt"><i class="fas fa-bolt"></i></p>

                            </div>
                          <% end %>

                          <!-- Link to remove priority from forum_post -->
                          <% if current_user && policy(current_user).master? %>
                            <%= link_to forum_priority_path(post) do %>
                              <p class="absolute-not" title="remove priority status"><i class="far fa-times-circle"></i></p>
                            <% end %>
                          <% end %>

                        </div>

                      </div>
                    <% end %>
                  <% end %>
                <% end %>

                <!-- Reg Posts -->
                <% unless @regular_posts.empty? %>
                  <% @regular_posts.each do |post| %>

                    <!-- Regular Blog Posts -->
                    <% if post.kind_of?(BlogPost) %>
                      <div class="margin-bottom">
                        <div class="card-container">
                          <%= link_to "/blog_posts##{post.id}" do %>
                            <div class="card-long">
                              <div class="image-container">
                                <% if post.blog_image.attached? %>
                                  <%= cl_image_tag post.blog_image.key, width: 136, height: 112, crop: :fill, class: 'blog-image' %>
                                <% else %>
                                  <%= cl_image_tag post.user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb, class: 'avatar-image' %>
                                <% end %>
                              </div>
                              <div class="card-text">
                                <h3><%= post.title.truncate(50) %></h3>
                                <div class="secondary-text d-flex">
                                  <p>by <%= post.user.gametag %></p>
                                  <p><i class="far fa-clock"></i><span><%= post.created_at.strftime("%b %d, %Y") %></span></p>
                                  <p><i class="far fa-heart"></i><%=post.blog_likes.count%></p>
                                </div>
                              </div>
                              <p class="card-tag blog-tag">blog</p>
                            </div>
                          <% end %>
                        </div>
                      </div>

                    <!-- Regular Forum Posts -->
                    <% else %>
                      <div class="margin-bottom">
                        <div class="card-container">
                          <%= link_to "/forum/#{post.messageboard.slug}/#{post.postable.slug}#post_#{post.id}" do %>
                            <div class="card-long">
                              <div class="image-container">
                                <%= cl_image_tag post.postable.user.avatar.key, width: 200, height: 200, gravity: :face, crop: :thumb, class: 'avatar-image' %>
                              </div>
                              <div class="card-text">
                                <h3><%= post.postable.title.truncate(50) %></h3>
                                <div class="secondary-text d-flex">
                                  <p>by <%= post.postable.user.gametag %></p>
                                  <p><i class="far fa-clock"></i><span><%= post.postable.created_at.strftime("%b %d, %Y") %></span></p>
                                  <p><i class="far fa-comment-alt"></i><%=post.postable.posts_count%></p>
                                </div>
                              </div>
                              <p class="card-tag forum-tag"><%= post.messageboard.name.truncate(25)%></p>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <%= render 'paginate_links' %>

            <% else %>
              <p>Start a conversation or check back again soon!</p>
            <% end %>

          <% else %>
            <div class="d-flex flex-column">
              <!-- <h3>Are you a member?</h3> -->
              <p><%= link_to "Login", new_user_session_path %> or <%= link_to "signup", new_user_registration_path %> to join the conversation!</p>
              <div class="margin-auto margin-top">
                <%= image_tag "chat.svg" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>


  </div>
</section>

<!-- <div class="news container">
  <h2>Members feed</h2>
  <div id="members-feed-content">
    <ul>
      <% unless @priority_posts.empty? %>
      <h4>PRIORITY POSTS</h4>

        <% @priority_posts.each do |post| %>
          <% if post.kind_of?(BlogPost) %>
            <li class=""><%= link_to post.title.truncate(35), "/blog_posts##{post.id}", class: 'homepage-news-links' %></li>
          <% else %>
            <li class=""><%= link_to post.postable.title.truncate(35), "/forum/#{post.messageboard.slug}/#{post.postable.slug}#post_#{post.id}", class: 'homepage-news-links priority-post' %></li>
          <% end %>
        <% end %>
      <% end %>
 -->
  <!--     <% if !@regular_posts.empty? %>
      <h4>REGULAR POSTS</h4>

        <% @regular_posts.each do |post| %>
          <% if post.kind_of?(BlogPost) %>

            <li class=""><%= link_to post.title.truncate(35), "/blog_posts##{post.id}", class: 'homepage-news-links' %></li>
          <% else %>
            <li class=""><%= link_to post.postable.title.truncate(35), "/forum/#{post.messageboard.slug}/#{post.postable.slug}#post_#{post.id}", class: 'homepage-news-links regular-forum-post' %></li>
            <%=  %>
          <% end %>
        <% end %>
        <%= render 'paginate_links' %>
      <% else %>
        <p>No news</p>
      <% end %>
    </ul>
  </div>
</div> -->

<!-- <div class="news container">
  <h2>News</h2>
  <div>
    <ul>
      <% unless @published_posts.empty? %>
        <% @published_posts.each do |post| %>
          <li class=""><%= link_to post.title, "/blog_posts##{post.id}", class: 'homepage-news-links' %></li>
        <% end %>
      <% else %>
        <p>No news</p>
      <% end %>
    </ul>
  </div>
</div> -->

