<div class="margin-bottom">
  <div class="card-container">

    <% unless current_user.game_bought?(game) %>
      <%= form_with url: orders_path(game) do %>
        <%= hidden_field_tag 'game_id', game.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
    <% end %>

    <%= link_to game_path(game) do %>
      <div class="game-card-long">
        <div class="game-image-container">
          <% if current_user.bought_games.include?(game) %>
            <% if game.thumbnail.attached? %>
              <%= cl_image_tag game.thumbnail.key, crop: :fill, class: 'game-image layer', alt: 'Game Thumbnail' %>
              <p id="image-text"><i class="fas fa-check-circle"></i> Already purchased</p>
            <% else %>
              <%= image_tag asset_url('generic_game_thumb.png'), crop: :fill, class: 'game-image', alt: 'Default Game Thumbnail' %>
            <% end %>
          <% else %>
            <% if game.thumbnail.attached? %>
              <%= cl_image_tag game.thumbnail.key, crop: :fill, class: 'game-image', alt: 'Game Thumbnail' %>
            <% else %>
              <%= image_tag asset_url('generic_game_thumb.png'), crop: :fill, class: 'game-image', alt: 'Default Game Thumbnail' %>
            <% end %>
          <% end %>
        </div>
        <div class="game-card-text">
          <h3><%= game.name %></h3>
          <p class="game-description"><%= game.description.truncate(180) %></p>
          <div class="game-card-platforms">
            <% game.platforms_to_a.each do |platform| %>
              <% case platform %>
              <% when 'Android' %>
                <%= render 'shared/svg/icon_android'%>
              <% when 'MAC' %>
                <%= render 'shared/svg/icon_mac'%>
              <% when 'PC' %>
                <%= render 'shared/svg/icon_pc'%>
              <% when 'iOS' %>
                <%= render 'shared/svg/icon_ios'%>
              <% end %>
            <% end %>
          </div>
          <div class="game-secondary-text d-flex">
            <p><i class="far fa-clock"></i><%= game.created_at.strftime("%b %d, %Y") %></p>
            <%# <p><i class="far fa-heart"></i>20</p> %>
          </div>
      </div>
        </div>
    <% end %>
  </div>
</div>
