<div class="margin-bottom">
  <div class="card-container">
    <%= link_to game.download_link, target: 'blank' do %>
      <div class="game-card-long">
        <div class="game-image-container">
          <% if game.thumbnail.attached? %>
            <%= cl_image_tag game.thumbnail.key, crop: :fill, class: 'game-image', alt: 'Game Thumbnail' %>
          <% else %>
            <%= image_tag asset_url('generic_game_thumb.png'), crop: :fill, class: 'game-image', alt: 'Default Game Thumbnail' %>
          <% end %>
        </div>
        <div class="game-card-text">
          <h3><%= game.name %></h3>
          <p class="game-description"><%= game.description.truncate(180) %></p>
          <div class="game-card-platforms">
            <% game.platforms_to_a.each do |platform| %>
              <% case platform %>
              <% when 'Android' %>
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.6 4.10213L18.44 0.92213C18.6 0.61213 18.48 0.23213 18.18 0.07213C18.0391 -0.00129546 17.8759 -0.0194368 17.7224 0.0212639C17.5688 0.0619645 17.436 0.15857 17.35 0.29213L15.47 3.53213C14.0558 2.93327 12.5357 2.62467 11 2.62467C9.46426 2.62467 7.94417 2.93327 6.53 3.53213L4.65 0.29213C4.55909 0.152643 4.41763 0.053855 4.25536 0.0165532C4.0931 -0.0207487 3.92269 0.0063437 3.78 0.09213C3.5 0.27213 3.41 0.63213 3.56 0.92213L5.4 4.10213C3.87336 4.97424 2.5832 6.20652 1.64198 7.69155C0.700762 9.17659 0.137056 10.8693 0 12.6221H22C21.8629 10.8693 21.2992 9.17659 20.358 7.69155C19.4168 6.20652 18.1266 4.97424 16.6 4.10213ZM6 9.87213C5.66848 9.87213 5.35054 9.74043 5.11612 9.50601C4.8817 9.27159 4.75 8.95365 4.75 8.62213C4.75 8.29061 4.8817 7.97267 5.11612 7.73825C5.35054 7.50383 5.66848 7.37213 6 7.37213C6.33152 7.37213 6.64946 7.50383 6.88388 7.73825C7.1183 7.97267 7.25 8.29061 7.25 8.62213C7.25 8.95365 7.1183 9.27159 6.88388 9.50601C6.64946 9.74043 6.33152 9.87213 6 9.87213ZM16 9.87213C15.6685 9.87213 15.3505 9.74043 15.1161 9.50601C14.8817 9.27159 14.75 8.95365 14.75 8.62213C14.75 8.29061 14.8817 7.97267 15.1161 7.73825C15.3505 7.50383 15.6685 7.37213 16 7.37213C16.3315 7.37213 16.6495 7.50383 16.8839 7.73825C17.1183 7.97267 17.25 8.29061 17.25 8.62213C17.25 8.95365 17.1183 9.27159 16.8839 9.50601C16.6495 9.74043 16.3315 9.87213 16 9.87213Z" fill="#8B8990"/>
                </svg>
              <% when 'MAC' %>
                <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 11.7393C12.6445 12.5718 12.4745 12.944 12.0179 13.6797C11.38 14.7071 10.4793 15.9892 9.36576 15.998C8.3753 16.0068 8.11966 15.3145 6.77547 15.3258C5.43129 15.3327 5.15127 16.0106 4.15963 15.9999C3.04611 15.9892 2.19358 14.8341 1.55508 13.8086C-0.230239 10.9319 -0.418699 7.56042 0.684713 5.76652C1.46531 4.4945 2.7007 3.74751 3.86059 3.74751C5.04188 3.74751 5.78442 4.43414 6.76121 4.43414C7.70886 4.43414 8.28612 3.74563 9.65231 3.74563C10.6856 3.74563 11.7783 4.34108 12.5589 5.3685C10.0049 6.84864 10.4198 10.7068 13 11.7393ZM8.61548 2.59748C9.11249 1.9228 9.48941 0.970833 9.35268 0C8.54176 0.0584763 7.59352 0.606142 7.03944 1.3154C6.53767 1.96116 6.12151 2.92067 6.28381 3.84875C7.16845 3.87893 8.08399 3.3212 8.61548 2.59748Z" fill="#8B8990"/>
                </svg>
              <% when 'PC' %>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.000833227 2.06583L6.14799 1.21917V7.15833H0V2.06667L0.000833227 2.06583ZM0.000833227 12.9342L6.14799 13.7817V7.915H0L0.000833227 12.9342ZM6.82379 13.8717L15 15V7.915H6.82379V13.8717ZM6.82379 1.12833V7.15833H15V0L6.82379 1.12833Z" fill="#8B8990"/>
                </svg>
              <% when 'iOS' %>
                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.916667 0C0.405 0 1.32341e-08 0.403361 1.32341e-08 0.907563C-2.0497e-05 1.02817 0.0237993 1.14758 0.0700671 1.2588C0.116335 1.37002 0.184123 1.47082 0.269469 1.55532C0.354815 1.63982 0.456007 1.70632 0.567131 1.75093C0.678255 1.79553 0.797082 1.81736 0.916667 1.81513C1.43333 1.81513 1.84167 1.41176 1.84167 0.907563C1.84167 0.403361 1.43333 0 0.916667 0ZM7.25833 0.0168067C4.45833 0.0168067 2.70833 1.94118 2.70833 5C2.70833 8.08403 4.45833 10 7.25833 10C10.0417 10 11.8 8.08403 11.8 5C11.8 1.94118 10.0417 0.0168067 7.25833 0.0168067ZM16.2917 0.0168067C14.2083 0.0168067 12.725 1.17647 12.725 2.89916C12.725 4.26891 13.5667 5.12605 15.3333 5.53781L16.575 5.84034C17.7833 6.11765 18.275 6.52101 18.275 7.21849C18.275 8.02521 17.4667 8.59664 16.3167 8.59664C15.1417 8.59664 14.2583 8.01681 14.1667 7.12605H12.5C12.5667 8.90756 14.0167 10 16.2167 10C18.5417 10 20 8.84874 20 7.01681C20 5.57983 19.1667 4.76471 17.2333 4.31933L16.125 4.06723C14.95 3.78151 14.4667 3.40336 14.4667 2.76471C14.4667 1.95798 15.2 1.42017 16.2833 1.42017C17.375 1.42017 18.125 1.96639 18.2083 2.86555H19.8417C19.8 1.16807 18.4083 0.0168067 16.2917 0.0168067ZM7.25833 1.48739C8.95833 1.48739 10.05 2.85714 10.05 5C10.05 7.15966 8.95833 8.52941 7.25833 8.52941C5.54167 8.52941 4.45833 7.15966 4.45833 5C4.45833 2.85714 5.54167 1.48739 7.25833 1.48739ZM0.0925 2.7395V9.84034H1.75V2.7395H0.0916667H0.0925Z" fill="#8B8990"/>
                </svg>
              <% end %>
            <% end %>
          </div>
          <div class="game-secondary-text d-flex">
            <p><i class="far fa-clock"></i><%= game.created_at.strftime("%b %d, %Y") %></p>
            <%# <p><i class="far fa-heart"></i>20</p> %>
          </div>
      </div>
        </div>
    <% end %>
  </div>
</div>
