<h1>Our Collection of Awesome Games</h1>
<div class="container">
  <div class="row">
    <% @games.order(updated_at: :desc).each do |game| %>
      <div class="col-12 col-sm-6 col-md-4">
          <%= link_to game_path(game) do %>
            <div class="card" style="min-height: 26rem;">
              <%#= cl_image_tag game.thumbnail.key, transformation: 'Test-transfo', class: 'card-img-top' %>
              <%= cl_image_tag game.thumbnail.key, width: 320, height: 480, crop: :fit, class: 'card-img-top' %>
              <div class="card-body">
                <h5 class="card-title"><%= game.name %></h5>
                <p class="card-text"><%= game.description %></p>

                <% if user_signed_in? %>
                  <p class="card-text">
                    Your <%= @level %> price:
                    <% case @level %>
                    <% when 'Bronze' %>
                      <%= game.price_bronze.zero? ? 'Free' : humanized_money_with_symbol(game.price_bronze) %>
                    <% when 'Silver' %>
                      <%= game.price_silver.zero? ? 'Free' : humanized_money_with_symbol(game.price_silver) %>
                    <% when 'Gold' %>
                      <%= game.price_gold.zero? ? 'Free' : humanized_money_with_symbol(game.price_gold) %>
                    <% when 'Platinum' %>
                      <%= game.price_platinum.zero? ? 'Free' : humanized_money_with_symbol(game.price_platinum) %>
                    <% end %>
                  </p>
                <% else %>
                  <p class="card-text">Full price: <%= game.price.zero? ? 'Free' : humanized_money_with_symbol(game.price) %></p>
                <% end %>

              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
