
<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path @game.banner.key %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_tag @game.thumbnail.key %>')">
    <h1 class="card-title"><%= @game.name %></h1>
</div>


<div class="card-body">
  <h3 class="card-text"><%= @game.description %></h3>
  <p class="card-text">Category: <%= @game.category %></p>
  <% if user_signed_in? %>
    <p class="card-text">Your membership level: <%= @level %></p>
    <p class="card-text">Your <%= @level %> price: <%= @price.zero? ? 'Free' : humanized_money_with_symbol(@price) %></p>
  <% else %>
    <p class="card-text"><%= @level.capitalize %> price: <%= @price.zero? ? 'Free' : humanized_money_with_symbol(@price) %></p>
  <% end %>

  <% unless @prices.empty? || @price.zero? %>
    <ul>
      <% @prices.each_with_index do |(level, price), index| %>
        <% unless index.zero? %>
          <li><%= level.capitalize %> level price: <%= price.zero? ? 'Free' : humanized_money_with_symbol(price) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if user_signed_in? %>
    <% if policy(Game).update? %>
      <p class="card-text">Availability: <%= @game.game_file.attached? && @game.available? ? 'Available' : 'Standby' %></p>
    <% end %>
  <% end %>

  <div class="game-buttons">
    <p>
      <%= link_to @game.game_file.attached? && @game.available? ? 'Download' : 'Not Available', "#", class: 'btn btn-sm btn-primary'  %>
    </p>

    <%# if user_signed_in? %>
      <%# if policy(Game).update? %>
        <p class="nav-item">
          <%#= link_to "Edit game", edit_game_path, class: "btn btn-sm btn-warning" %>
        </p>
        <%# if @game.game_file.attached? %>
          <p class="nav-item">
            <%#= link_to "Toggle Status", toggle_availability_game_path(@game), data: { confirm: "Are you sure you want to change #{@game.name}'s status to #{@game.available? ? 'Standby' : 'Available'}?" }, class: "btn btn-sm btn-info" %>
          </p>
          <%# else %>
            <p class="nav-item">
              <%#= link_to "No Game File", '#', data: { confirm: "There is no game file attached to this game" }, class: "btn btn-sm btn-info" %>
            </p>
          <%# end %>
        <p class="nav-item">
          <%#= link_to "Delete game", game_path(@game), method: 'delete', data: { confirm: "Are you sure you want to delete #{@game.name}?" }, class: "btn btn-sm btn-danger" %>
        </p>
      <%# end %>
    <%# end %>

  </div>
</div>
