<!DOCTYPE html>
<html>
  <head>
    <title>Gueshly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if request.path == '/' %>
        <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>

    <%= render 'shared/footer' %>

    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
