<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Chreative Gaming</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Primary Meta Tags -->
    <title>Welcome to ChreativeGaming</title>
    <meta name="title" content="Welcome to ChreativeGaming">
    <meta name="description" content="Discuss anything gaming related
    Play the minigame of the month
    Earn money when you beat it
    ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.chreativegaming.com/">
    <meta property="og:title" content="Welcome to ChreativeGaming">
    <meta property="og:description" content="Discuss anything gaming related
    Play the minigame of the month
    Earn money when you beat it
    ">
    <meta property="og:image" content="<%= image_path "cg_logo_meta.png" %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.chreativegaming.com/">
    <meta property="twitter:title" content="Welcome to ChreativeGaming">
    <meta property="twitter:description" content="Discuss anything gaming related
    Play the minigame of the month
    Earn money when you beat it
    ">
    <meta property="twitter:image" content="<%= image_path "cg_logo_meta.png" %>">

    <script src="https://js.stripe.com/v3/"></script>

    <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Thredded stuff -->
    <!-- <title>Thredded | <%#= yield :thredded_page_title %></title> -->
    <%= csrf_meta_tag %>
    <%#= csp_meta_tag if Thredded.rails_supports_csp_nonce? %>
    <%= javascript_include_tag 'thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbolinks-track': 'reload' %>
    <%#== Gravatar.prefetch_dns %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->

  </head>

  <body>
    <div class="wrapper">
      <%= render 'shared/navbar' %>

      <div class="page-body">
        <%= render 'shared/flashes' %>

        <% if request.path == '/' %>
          <%= yield %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>

      <div class="page-footer">
        <%= render 'shared/footer' %>
      </div>

      <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'thredded_custom', 'data-turbolinks-track': 'reload' %>

    </div>
  </body>
</html>
